<div class="carousel-inner">
    <div class="carousel-item active">
        <img class="imageCategoryCarousel d-block w-100" src="/build/images/football1.ad0fb09b.jpg"
             alt="First slide">
        <div class="carousel-caption d-md-block">
            <h5>FIFA's Womens's World Cup</h5>
            <h2>Netherlands VS France</h2>
        </div>
    </div>
    <div class="carousel-item">
        <img class="imageCategoryCarousel d-block w-100" src="/build/images/football3.279203ed.jpg"
             alt="Second slide">
        <div class="carousel-caption d-md-block">
            <h5>FIFAe Finals</h5>
            <h2>Brazil VS Riders</h2>
        </div>
    </div>
    <div class="carousel-item">
        <img class="imageCategoryCarousel d-block w-100" src="/build/images/football2.91ee238f.jpg"
             alt="Third slide">
        <div class="carousel-caption d-md-block">
            <h5>FIFA World Cup Saudi Arabia</h5>
            <h2>Manchester City VS Urawa Red Diamonds</h2>
        </div>
    </div>
</div>
