<div class="carousel-inner">
    <div class="carousel-item active">
        <img class="imageCategoryCarousel d-block w-100" src="/build/images/surf1.3c74a5dc.jpg"
             alt="First slide">
        <div class="carousel-caption d-md-block">
            <h5>VIVO Rio PRO</h5>
            <h2>Saquarema, Rio de Janeiro, Brazil</h2>
        </div>
    </div>
    <div class="carousel-item">
        <img class="imageCategoryCarousel d-block w-100" src="/build/images/surf3.1ec7b7e0.jpg"
             alt="Second slide">
        <div class="carousel-caption d-md-block">
            <h5>Padrol Longboard Classic</h5>
            <h2>Halfway, Bali, Indonesia</h2>
        </div>
    </div>
    <div class="carousel-item">
        <img class="imageCategoryCarousel d-block w-100" src="/build/images/surf2.f28c1fc9.jpg"
             alt="Third slide">
        <div class="carousel-caption d-md-block">
            <h5>Layback Pro Prainha</h5>
            <h2>Prainha, Rio de Janeiro, RJ, Brazil</h2>
        </div>
    </div>
</div>
