{% extends 'base.html.twig' %}

{% block title %}Wild Sports{% endblock %}

{% block body %}
    {% include ('_includes/_cookie.html.twig') %}

    <!-- First section: front video -->
    <div class="ws-home-carousel-container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://source.unsplash.com/500x300/?west-australia"
                         alt="First slide">
                    <div class="carousel-caption d-md-block">
                        <h5>COMPETITION</h5>
                        <h2>TEAM 1 VS TEAM 2</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://source.unsplash.com/500x300/?quokka,perth"
                         alt="Second slide">
                    <div class="carousel-caption d-md-block">
                        <h5>COMPETITION</h5>
                        <h2>TEAM 1 VS TEAM 2</h2>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://source.unsplash.com/500x300/?margaretriver,australia"
                         alt="Third slide">
                    <div class="carousel-caption d-md-block">
                        <h5>COMPETITION</h5>
                        <h2>TEAM 1 VS TEAM 2</h2>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- End of first section -->

    <!-- Second section: videos by category -->
    <div class="ws-video-sections-container mb-5">
    <!-- Subsection matchs -->
        <div class="w-100 d-inline-flex justify-content-between align-items-center ws-header-video-container">
            <h4>MATCHS</h4>
            <button class="ws-yellow-btn mb-3">Voir plus</button>
        </div>
        <div class="ws-home-video-container no-scrollbar">
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/31f?text=" class="img-fluid ws-home-video-match">
                <div class="ws-home-match-title">
                    <p>Wells Fargo Center</p>
                    <p>31 JAN 2023</p>
                    <button class="ws-blue-btn">Premium pass</button>
                </div>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/e66?text=" class="img-fluid">
                <div class="ws-home-match-title">
                    <p>Wells Fargo Center</p>
                    <p>31 JAN 2023</p>
                    <button class="ws-blue-btn">Premium pass</button>
                </div>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/7d2?text=" class="img-fluid">
                <div class="ws-home-match-title">
                    <p>Wells Fargo Center</p>
                    <p>31 JAN 2023</p>
                    <button class="ws-blue-btn">Premium pass</button>
                </div>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/7d2?text=" class="img-fluid">
                <div class="ws-home-match-title">
                    <p>Wells Fargo Center</p>
                    <p>31 JAN 2023</p>
                    <button class="ws-blue-btn">Premium pass</button>
                </div>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/31f?text=" class="img-fluid">
                <div class="ws-home-match-title">
                    <p>Wells Fargo Center</p>
                    <p>31 JAN 2023</p>
                    <button class="ws-blue-btn">Premium pass</button>
                </div>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/e66?text=" class="img-fluid">
                <div class="ws-home-match-title">
                    <p>Wells Fargo Center</p>
                    <p>31 JAN 2023</p>
                    <button class="ws-blue-btn">Premium pass</button>
                </div>
            </div>
        </div>
    <!-- End of subsection -->

    <!-- Subsection category 1 -->
        <div class="w-100 d-inline-flex justify-content-between align-items-center my-3 ws-header-video-container">
            <h4>CATEGORY 1</h4>
            <button class="ws-yellow-btn mb-3">Voir plus</button>
        </div>
        <div class="ws-home-video-container no-scrollbar">
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/31f?text=1" class="img-fluid">
                <p class="pt-2">Portland trail blazers on fire!</p>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/e66?text=2" class="img-fluid">
                <p class="pt-2">Portland trail blazers on fire!</p>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/7d2?text=3" class="img-fluid">
                <p class="pt-2">Portland trail blazers on fire!</p>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/7d2?text=4" class="img-fluid">
                <p class="pt-2">Portland trail blazers on fire!</p>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/31f?text=5" class="img-fluid">
                <p class="pt-2">Portland trail blazers on fire!</p>
            </div>
            <div class="ws-home-video-card">
                <img src="//via.placeholder.com/900x500/e66?text=6" class="img-fluid">
                <p class="pt-2">Portland trail blazers on fire!</p>
            </div>
        </div>
    <!-- End of subsection -->

        <!-- Subsection advertisement -->
            <div class="ws-home-ad-container">
                <img src="//via.placeholder.com/900x500/?text=ADVERTISEMENT" class="img-fluid">
            </div>
        <!-- End of subsection -->

    <!-- Subsection category 2 -->
    <div class="w-100 d-inline-flex justify-content-between align-items-center my-3 ws-header-video-container">
        <h4>CATEGORY 2</h4>
        <button class="ws-yellow-btn mb-3">Voir plus</button>
    </div>
    <div class="ws-home-video-container no-scrollbar">
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/31f?text=1" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/e66?text=2" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/7d2?text=3" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/7d2?text=4" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/31f?text=5" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/e66?text=6" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
    </div>
    <!-- End of subsection -->

    <!-- Subsection category 3 -->
    <div class="w-100 d-inline-flex justify-content-between align-items-center my-3 ws-header-video-container">
        <h4>CATEGORY 3</h4>
        <button class="ws-yellow-btn mb-3">Voir plus</button>
    </div>
    <div class="ws-home-video-container no-scrollbar">
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/31f?text=1" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/e66?text=2" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/7d2?text=3" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/7d2?text=4" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/31f?text=5" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/e66?text=6" class="img-fluid">
            <p class="pt-2">Portland trail blazers on fire!</p>
        </div>

    </div>
    <!-- End of subsection -->
    </div>
    <!-- End of second section -->
{% endblock %}
