<div id="cookie-consent-popup">
    <p>Ce site utilise des cookies.</p>
    <p>Veuillez accepter notre politique de cookies.</p>
    <a href="/privacy-policy" class="d-flex justify-content-center">Politique de confidentialité</a>
    <div class="d-flex justify-content-center">
        <button id="cookie-consent-accept" class="ws-blue-btn mt-3">Accepter</button>
    </div>
</div>
