<div class="cookie-consent-modal">
    <div class="content">
        <h1>Ce site utilise des cookies.</h1>
        <p>Veuillez accepter notre politique de cookies.</p>
        <a href="/privacy-policy" class="d-flex justify-content-center">Politique de confidentialité</a>
        <div class="btns">
            <button class="btn accept ws-blue-btn">Accepter</button>&nbsp;
            <button class="btn cancel ws-grey-btn">Refuser</button>
        </div>
    </div>
</div>
