<nav class="navbar navbar-expand-sm navbar-light bg-dark fixed-top ws-navbar-color">

{#    <div class="container-fluid">#}

        <a href="#">
            <img src="{{ asset('build/images/WildSports.7886eafc.png') }}" alt="logo" width="130"
                 height="auto" ></a>
        <button class="navbar-toggler ws-navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbarOffcanvasSm" aria-controls="navbarOffcanvasSm" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon ws-icon-toggler"></span>
        </button>

        <div class="offcanvas offcanvas-end ws-offcanvas-bg"  tabindex="-1" id="navbarOffcanvasSm"
             aria-labelledby="navbarOffcanvasSmLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Wild Sports</h5>

                <button type="button" class="btn-close btn-close-black " data-bs-dismiss="offcanvas" aria-label="Close">

                </button>
            </div>

            <div class="offcanvas-body w-100 ">

                <ul class="navbar-nav justify-content-start flex">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Catégorie</a>
                    </li>

{#                    {% if user_is_connected %}#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Favoris</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Contact</a>#}
{#                    </li>#}

{#                    {% else %}#}

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pourquoi s'abonner</a>
                    </li>

{#                    {% endif %}#}

                </ul>

                <div class="d-flex w-100 justify-content-end">

{#                <form class="d-flex " role="search">#}
{#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                    <button class="btn btn-success ws-search-button" type="submit">Search</button>#}
{#                </form>#}

                <ul class="navbar-nav justify-content-start d-sm-none">
{#                    {% if user_is_connected %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="#">Profil</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Se déconnecter</a>#}
{#                    </li>#}
{#                    #}
{#                    #}{#                    {% else %}#}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">S'enregistrer</a>
                    </li>
{#                    {% endif %}#}
                </ul>



                <ul class="navbar-nav ws-navbar-desktop" >
{#                    {% if user_is_connected %}#}

{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"#}
{#                           aria-expanded="false">Profil#}
{#                        </a>#}
{#                        <ul class="dropdown-menu dropdown-menu-dark">#}
{#                            <li><a class="dropdown-item" href="#">Mon compte</a></li>#}
{#                            <li>#}
{#                                <hr class="dropdown-divider">#}
{#                            </li>#}
{#                            <li><a class="dropdown-item" href="#">Se déconnecter</a></li>#}
{#                        </ul>#}
{#                    {% else %}#}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                           <button class="ws-black-btn">Se connecter</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button class="ws-blue-btn">S'enregistrer</button></a>
                    </li>
{#                    {% endif %}#}
                </ul>
                </div>
            </div>
        </div>
{#    </div>#}
</nav>
