

<div class="videoScrollSingleVideoPage ws-video-sections-container mb-5">
    <div class="ws-home-video-container no-scrollbar">
        <div class="ws-home-video-card">
            <img src="//via.placeholder.com/900x500/31f?text=" class="img-fluid ws-home-video-match">
            <div class="ws-home-match-title">
                <p>Wells Fargo Center</p>
                <p>31 JAN 2023</p>
                <button class="ws-blue-btn">Premium pass</button>
            </div>
        </div>

    </div>

</div>
