

<div class="videoScrollSingleVideoPage ws-video-sections-container mb-5">
    <div class="ws-home-video-container no-scrollbar">
        <div class="ws-home-video-card">
            {% for video in category.videos %}
            <video src="/videos/{{ video.videoLink }}" class="img-fluid ws-home-video-match"></video>
            <div class="ws-home-match-title">
                <p>{{ video.title }}</p>
            </div>
        </div>

    </div>

</div>
