{% extends 'base.html.twig' %}

{% block title %}Politique des cookies{% endblock %}

{% block body %}
    <section class="mx-5">
        <h1 class="my-5" style="text-align:center">Politique des cookies</h1>
        <p>Dernière mise à jour : 13 juin 2023</p>
        <p>Cette politique sur les cookies explique ce que sont les cookies et comment
            nous les utilisons. Vous devriez lire cette politique afin de comprendre quel
            type de cookies, nous utilisons, ou les informations que nous recueillons en
            utilisant des cookies et comment ces informations sont utilisées. Cette
            politique de cookies a été créée à l’aide du <a
                href="https://www.privacypolicies.com/cookies-policy-generator/"
                target="_blank">Générateur de politique de cookies</a>. </p>
        <p>Les cookies ne contiennent généralement pas d’informations qui identifient
            personnellement un utilisateur, mais les informations personnelles que nous
            stockons à votre sujet peuvent être liées aux informations stockées et
            obtenues à partir des cookies. Pour plus d’informations sur la façon dont nous
            utilisons, stockons et protégeons vos données personnelles, consultez notre
            Politique de confidentialité.</p>
        <p>Nous ne stockons pas d’informations personnelles sensibles, telles que les
            adresses postales, les mots de passe de compte, etc. dans les cookies que nous
            utilisons. </p>
        <h1>Interprétation et définitions</h1>
        <h2>Interprétation</h2>
        <p>Les mots dont la lettre initiale est en majuscule ont une signification définie
            dans les conditions suivantes. Les définitions suivantes ont le même sens,
            qu’elles apparaissent au singulier ou au pluriel. </p>
        <h2>Définitions</h2>
        <p>Aux fins de la présente politique sur les cookies :</p>
        <ul>
            <li><strong>Entreprise</strong> (appelée soit « l’entreprise », « nous »,
                « nous » ou « notre » dans la présente politique sur les témoins) fait
                référence aux sports sauvages.
            <li><strong>Cookies</strong> désigne les petits fichiers qui sont placés sur
                votre ordinateur, votre appareil mobile ou tout autre appareil par un site
                Web, contenant des détails sur votre historique de navigation sur ce site
                Web parmi ses nombreuses utilisations.
            </li>
            <li><strong>Site Web</strong> désigne Wild Sports, accessible depuis <a
                    href="" rel="external nofollow noopener"
                    target="_blank">wild@sports.fr</a></li>
            <li><strong>Vous</strong> désigne la personne qui accède ou utilise le Site
                Web, une entreprise ou toute entité juridique pour le compte de laquelle
                cette personne accède ou utilise le Site Web, selon le cas.
            </li>
        </ul>
        <h1>L’utilisation des cookies</h1>
        <h2>Type de cookies que nous utilisons</h2>
        <p>Les témoins peuvent être des témoins de persistance ou de session. Les cookies
            persistants restent sur votre ordinateur personnel ou votre appareil mobile
            lorsque vous vous déconnectez, tandis que les cookies de session sont
            supprimés dès que vous fermez votre navigateur web. </p>
        <p>Nous utilisons des cookies de session et des cookies persistants aux fins
            indiquées ci-dessous :</p>
        <ul>
            <li>
                <p><strong>Cookies nécessaires/essentiels</strong></p>
                <p>Type : Session Cookies</p>
                <p>Administré par : Us</p>
                <p>Objectif : Ces Cookies sont essentiels pour vous fournir les services
                    disponibles sur le site et vous permettre d’utiliser certaines de ses
                    fonctionnalités. Ils aident à authentifier les utilisateurs et à
                    prévenir l’utilisation frauduleuse des comptes utilisateurs. Sans ces
                    Cookies, les services que vous avez demandés ne peuvent pas être
                    fournis, et nous utilisons uniquement ces Cookies pour Vous fournir
                    ces services. </p>
            </li>
            <li>
                <p><strong>Cookies de fonctionnalité</strong></p>
                <p>Type : Persistent Cookies</p>
                <p>Administré par : Us</p>
                <p>But : Ces cookies nous permettent de mémoriser les choix que vous
                    faites lorsque vous utilisez le site Web, comme la mémorisation de vos
                    données de connexion ou de vos préférences linguistiques. Le but de
                    ces Cookies est de Vous fournir une expérience plus personnelle et
                    d’éviter de Vous avoir à entrer à nouveau vos préférences chaque fois
                    que vous utilisez le Site.</p>
            </li>
        </ul>
        <h2>Vos choix concernant les cookies</h2>
        <p>Si Vous préférez éviter l’utilisation des Cookies sur le Site, vous devez
            d’abord désactiver l’utilisation des Cookies dans votre navigateur, puis
            supprimer les Cookies enregistrés dans votre navigateur associé à ce site.
            Vous pouvez utiliser cette option pour empêcher l’utilisation des Cookies à
            tout moment. </p>
        <p>Si vous n’acceptez pas nos cookies, il se peut que votre utilisation du site
            Web vous cause des inconvénients et que certaines fonctionnalités ne
            fonctionnent pas correctement. </p>
        <p>Si vous souhaitez supprimer des cookies ou demander à votre navigateur Web de
            supprimer ou de refuser des cookies, veuillez consulter les pages d’aide de
            votre navigateur Web. </p>
        <ul>
            <li>
                <p>Pour le navigateur Web Chrome, veuillez visiter cette page à partir de
                    Google : <a href="https://support.google.com/accounts/answer/32050"
                                rel="external nofollow noopener" target="_blank">https://support.google.com/accounts/answer/32050</a>
                </p>
            </li>
            <li>
                <p>Pour le navigateur Internet Explorer, veuillez consulter cette page de
                    Microsoft : <a href="https://support.microsoft.com/kb/278835"
                                   rel="external nofollow noopener"
                                   target="_blank">https://support.microsoft.com/kb/278835</a>
                </p>
            </li>
            <li>
                <p>Pour le navigateur Web Firefox, veuillez visiter cette page de
                    Mozilla : <a
                        href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored"
                        rel="external nofollow noopener" target="_blank">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-website-stored</a>
                </p>
            </li>
            <li>
                <p>Pour le navigateur Web de Safari, veuillez consulter cette page
                    d’Apple : <a
                        href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
                        rel="external nofollow noopener" target="_blank">https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a>
                </p>
            </li>
        </ul>
        <p>Pour tout autre navigateur Web, veuillez consulter les pages Web officielles de
            votre navigateur Web. </p>
        <h2>Plus d’informations sur les cookies</h2>
        <p>Vous pouvez en savoir plus sur les cookies : <a
                href="https://www.privacypolicies.com/blog/cookies/" target="_blank">Que
                sont les cookies ? </a>. </p>
        <h2>Contactez-nous</h2>
        <p>Si vous avez des questions sur cette politique de cookies, vous pouvez nous
            contacter :</p>
        <ul>
            <li>Par courriel : wild@sports.fr</li>
        </ul>
    </section>
{% endblock %}
