{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <section class="mx-3 mx-md-5 d-flex flex-column text-center flex-wrap">
        <h1 class="my-5">MENTIONS LEGALES :</h1>

        <p>Correspondant aux obligations des articles 6-III et
            19 de
            la Loi numéro 2004-575 du 21 juin 2004 pour la Confiance en l'économie
            numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs du
            site internet :
           </p>
        <a href="/" target="_blank">wild@sports.fr</a>

        <h2 class="mt-5 mb-4">1. Déclaration légales :</h2>



        <p>Information du propriétaire : <strong>Wild Sports</strong></p>
        <p>Adresse postale du titulaire : <strong>Rue Lucien Faure 33000 - Bordeaux</strong></p>
        <p>Le Fondateur du site suivant : <strong>Wild Sports</strong></p>
        <p>Le Directeur de la publication : <strong>Wild Sports</strong></p>
        <p>Par quel moyen joindre le Directeur de publication :<strong>wild@sports.fr</strong></p>
        <p>Le Développeur est : <strong>Wild Sports</strong><br/></p>
        <p>De quelle façon entrer en contact avec le Webmaster : <strong><a href="">wild@sports.fr</a></strong></p>

        <p>Hebergeur du site web : OVH<br/> SAS composé d'un capital de 10 174 560 Euros<br/>
            Registre du commerce et des sociétés (RCS) Lille Métropole 424 761 419
            00045<br/> Code d'Activité principale exercée (APE) 2620Z<br/> N° TVA : FR 22 424 761 419<br/>
            Siège Sociale de l'hébergeur : 2 rue Kellermann - 59100 Roubaix - France<br/></p>

        <h2 class="mt-5 mb-4">2. Présentation et principe :</h2>

        <p>Tout internaute se connectant et utilisant le site
            internet : www.wild@sports.fr
            est considéré comme utilisateur du site internet.<br/>
            Le site suivant www.wild@sports.fr réuni un ensemble de services,
            dans l'état, mis à disposition des utilisateur. Il est ici précisé que ces
            derniers doivent rester honnête et faire preuve de bonne foi tant envers les
            autres usagés qu'envers le Développeur du site wild@sports.fr. Le site
            wild@sports.fr est mis à jour régulièrement par Wild Sports.<br/>
            Wild Sports s'efforce d'offrir sur le site suivant wild@sports.fr des
            informations les plus claires possibles (sous réserve de modifications), mais
            ne saurait promettre l'exactitude, la finitude et les informations répandu sur
            son site, qu'elles soient de son fait ou non. En dépendance, l'utilisateur
            reconnaît utiliser ces informations données (à titre indicatif, non
            exhaustives et susceptibles d'évoluer) sous sa responsabilité exclusive.</p>

        <h2 class="mt-5 mb-4">3. Accessibilité :</h2>

            Le site suivant wild@sports.fr est par principe accessible aux usagés H24 7/7,
            excepté en cas d'interruption, programmée ou non, pour les besoins de
            maintenance ou force majeure. En cas de service indisponible, wild@sports.fr
            s'engage à faire de son mieux afin de rétablir l'accès au site et s'efforcera
            alors d'informer préalablement aux utilisateurs Dates & heures de
            l'intervention. N'étant soumis qu'à une obligation de moyen, wild@sports.fr ne
            saurait être tenu comme responsable des dommages, quelle qu'en soit la nature,
            résultant d'une indisponibilité du service</p>

        <h2 class="mt-5 mb-4">4. Propriété intellectuelle :</h2>
            Wild Sports est propriétaire exclusif de l'intégralité des droits de propriété
            intellectuelle ou détient les droits d'usage sur tous les éléments accessibles
            sur le site web, tant structurellement que sur les textes, images, graphismes,
            logo, bande sonore, logiciels…<br/>
            Toute reproduction même partielle du site internet wild@sports.fr, affichage,
            edition, mis à jour totalement ou partiellement de l'un quelconque de ces
            éléments, sans tenir compte du moyen ou le procédé utilisé, est interdite,
            sauf acceptation écrite préalable de Wild Sports, propriétaire du site suivant
            à l'email : wild@sports.fr, à défaut elle sera considérée comme constitutive
            d'une contrefaçon et passible de poursuite conformément aux dispositions des
            articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
        Toute reproduction site suivant wild@sports.fr, représentation, edition, mis à
        jour totalement ou partiellement de l'un quelconque de ces éléments, sans tenir
        compte du moyen ou la technique utilisé, est strictement interdite, excepté
        acceptation préalable de Wild Sports, responsable du site suivant au mail suivant
        : wild@sports.fr, à défaut elle sera considérée de la même manière qu'une
        contrefaçon et passible de poursuite d'après les dispositions des multiples
        articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>


            <h2 class="mt-5 mb-4">5. Cookies et Liens Hypertextes :</h2>

            Le site internet wild@sports.fr comporte différents URL hypertextes vers
            plusieurs sites web (partenaires, sites sources) mis en ligne suite à la
            validation de Wild Sports. Cependant,
            Wild Sports n'a pas la possibilité de vérifier l'ensemble des élements des
            sites ainsi visités et décline donc toute responsabilité de ce fait quand aux
            risques de contenus illicites.<br/>
            L'utilisateur est donc tenu informé que durant de ses navigation sur le site
            suivant wild@sports.fr, un ou de multiples cookies sont capable de s'intégrer
            mécaniquement sur son via son logiciel informatique de navigation. Un cookie
            est un assemblage de donnée qui ne permettra pas de savoir qui est
            l'utilisateur, en revanche qui sauvegarde des renseignements concernant la
            navigation de l'usager sur le site suivant. <br/>
            Le paramétrage du logiciel de navigation permet d'informer de la compagnie de
            cookie et éventuellement, de la refuser de la façon expliquée à cette adresse
            suivante : <a href="">www.wild@sports.fr</a>. La
            mise en place à la possibilité toutefois de configurer le navigateur de son pc
            pour contester la mise en place des cookies, étant conscient que le rebut
            d'installation d'un cookie pourrait potentiellement entraîner l'incapacité
            d'accéder à certains services. Concernant tout blocage de cookies, recherchez
            dans votre moteur de recherche : blocage des cookies et suivez les
            explications en fonction de votre navigateur.</p>

        <h2 class="mt-5 mb-4">6. Protection des biens et des personnes - Gestion des données
            personnelles :</h2>
        En France, les données personnelles sont notamment protégées par la loi n° 78-87
        du 6 janvier 1978 , la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code
        pénal ainsi que la Directive Européenne du 24 octobre 1995.</p>

        <p>Sur le site wild@sports.fr, Wild Sports ne aucune
            information personnelles ( suivant l'article 4 loi n°78-17 du 06 janvier 1978)
            concernant l'utilisateur que pour le besoin de plusieurs services mis à
            disposition par le site interne wild@sports.fr. L'utilisateur offre les
            informations en pleine conscience de cause, particulièrement quand il procède
            par lui-même à la saisie. Il est alors résumé à l'utilisateur du site
            wild@sports.fr la contrainte ou pas de rentrer ces données.<br/>
            En conformité avec les agencements des articles 38 et autres de la loi 78-17
            du 6 janvier 1978 relative à l'informatique, les fichiers et aux différentes
            libertés, n'importe quel utilisateur possède un droit d'accès aux
            informations, de rectification, de suppression et d'opposition à toutes les
            informations personnelles qui le concerne. Pour l'exercer, envoyez votre
            demande à wild@sports.fr par email : wild@sports.fr ou par lettre manuscrite  signée,
            accompagnée d'une copie de pièce d'identité
            ainsi qu'une signature du propriétaire du document, en mentionnant l'adresse à
            laquelle la réponse doit être retournée.</p>

        <p>Sans information personnelle de l'utilisateur du
            site interne wild@sports.fr ne sera publiée à l'insu de l'utilisateur,
            échangée, transmise, cédée sur un support quelconque à des tiers. Seulement
            l'hypothèse de vente du site suivant wild@sports.fr et de ses droits en
            autorise Wild Sports à transmettre les informations personnelles à l'éventuel
            acquéreur qui serait à son tour tenu à la même nécéssité de conservation et de
            modification des données vis à vis de l'utilisateur du site web
            wild@sports.fr.<br/>
            Le site suivant wild@sports.fr est en conformité avec le RGPD consulter notre
            politique RGPD.</p>

        <p>Les bases de données sont sécurisées par les règles
            de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996
            concernant la protection juridique des bases de données.</p>
    </section>
{% endblock %}
