{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<section class="mx-5">
    <h1 class="my-5" style="text-align:center">Politique de confidentialité</h1>
    <p>Dernière mise à jour : 13 juin 2023</p>
    <p>Cette politique de confidentialité décrit nos politiques et procédures sur la
        collecte, l’utilisation et la divulgation de vos informations lorsque vous
        utilisez le Service et vous informe de vos droits à la vie privée et de la façon
        dont la loi vous protège.</p>
    <p>Nous utilisons vos données personnelles pour fournir et améliorer le Service. En
        utilisant le Service. Vous acceptez la collecte et l’utilisation des informations
        conformément à la présente Politique de confidentialité. Cette politique de
        confidentialité a été créée à l’aide du Générateur de politique de
        confidentialité.<a
            href="https://www.privacypolicies.com/privacy-policy-generator/"
            target="_blank">Privacy Policy Generator</a>.</p>
    <h1>Interprétation et définitions</h1>
    <h2>Interprétation</h2>
    <p>Les mots dont la lettre initiale est en majuscule ont une signification définie
        dans les conditions suivantes. </p>
    <h2>Définitions</h2>
    <p>Aux fins de la présente politique de confidentialité :</p>
    <ul>
        <li>
            <p><strong>Compte</strong> signifie un compte unique créé pour vous permettre
                d’accéder à notre Service ou à certaines parties de notre Service.</p>
        </li>
        <li>
            <p><strong>Affilié</strong> désigne une entité qui contrôle, ou est contrôlée
                par une partie, où « contrôle » signifie propriété de 50 % ou plus des
                actions, les titres de participation ou autres titres ayant droit de vote
                pour l’élection des administrateurs ou d’autres autorités de gestion. </p>
        </li>
        <li>
            <p><strong>Entreprise</strong> (appelée soit « l’entreprise », « nous », «
                nous » ou « nous » dans la présente entente) fait référence à « Wild
                Sports ».</p>
        </li>
        <li>
            <p><strong>Cookies</strong> Les cookies sont de petits fichiers qui sont
                placés sur votre ordinateur, appareil mobile ou tout autre appareil par un
                site Web, contenant les détails de votre historique de navigation sur ce
                site Web parmi ses nombreuses utilisations.</p>
        </li>
        <li>
            <p><strong>Pays</strong> désigne: France</p>
        </li>
        <li>
            <p><strong>Dispositif</strong> désigne tout dispositif pouvant accéder au
                service en tant qu’ordinateur, téléphone portable ou tablette numérique.
            </p>
        </li>
        <li>
            <p><strong>Données personnelles</strong> désigne toute information relative à
                une personne identifiée ou identifiable. </p>
        </li>
        <li>
            <p><strong>Service</strong> désigne le site Web.</p>
        </li>
        <li>
            <p><strong>Prestataire</strong> désigne toute personne physique ou morale qui
                traite les données pour le compte de la Société. Il s’agit de sociétés ou
                personnes employées par la Société pour Service, pour fournir le Service
                au nom de la Société, pour effectuer services liés au Service ou pour
                aider la Société à analyser le service est utilisé. </p>
        </li>
        <li>
            <p><strong>Données d’utilisation</strong> désigne les données collectées
                automatiquement, soit générés par l’utilisation du Service ou de
                l’infrastructure du Service elle-même (par exemple, la durée d’une visite
                de page).</p>
        </li>
        <li>
            <p><strong>Site Web</strong> désigne Wild Sports, accessible à partir de <a
                    href="" rel="external nofollow noopener"
                    target="_blank">wildsports.fr</a>
            </p>
        </li>
        <li>
            <p><strong>Vous</strong> désigne la personne qui accède ou utilise le Service,
                ou la société ou autre entité juridique au nom de laquelle cette personne
                accède ou utilise le service, le cas échéant. </p>
        </li>
    </ul>
    <h1>Collecte et utilisation de vos données personnelles</h1>
    <h2>Types de données collectées</h2>
    <h3>Données personnelles</h3>
    <p>Lors de l’utilisation de notre service, nous pouvons vous demander de nous fournir
        certaines informations identifiables qui peuvent être utilisées pour vous
        contacter ou vous identifier. Personnellement les renseignements identifiables
        peuvent comprendre, sans s’y limiter :</p>
    <ul>
        <li>
            <p>Adresse courriel</p>
        </li>
        <li>
            <p>Prénom et nom de famille</p>
        </li>
        <li>
            <p>Données d’utilisation</p>
        </li>
    </ul>
    <h3>Données d’utilisation</h3>
    <p>Les données d’utilisation sont collectées automatiquement lors de l’utilisation du
        service.</p>
    <p>Les données d’utilisation peuvent inclure des informations telles que l’adresse du
        protocole Internet de votre appareil (ex. adresse IP) , type de navigateur,
        version du navigateur, les pages de notre Service qui Vous visitez, l’heure et la
        date de votre visite, le temps passé sur ces pages, uniques identificateurs de
        dispositifs et autres données de diagnostic. </p>
    <p>Lorsque vous accédez au Service par où via un appareil mobile, nous pouvons
        collecter certains automatiquement, y compris, mais sans s’y limiter, le type de
        mobile, appareil que vous utilisez, Votre appareil mobile ID unique, l’adresse IP
        de votre mobile appareil, votre système d’exploitation mobile, le type de
        navigateur Internet mobile que vous utilisez, identificateurs de dispositif
        uniques et autres données de diagnostic. </p>
    <p>Nous pouvons également collecter des informations que votre navigateur envoie
        chaque fois que vous visitez notre Service ou lorsque vous accédez au Service par
        où via un appareil mobile. </p>
    <h3>Technologies de suivi et cookies</h3>
    <p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre
        l’activité sur notre Entretenir et stocker certaines informations. Les
        technologies de suivi utilisées sont des balises, balises, et des scripts pour
        recueillir et suivre l’information et d’améliorer et d’analyser notre Service. Les
        technologies que nous utilisons peuvent inclure :</p>
    <ul>
        <li><strong>Cookies ou cookies du navigateur.</strong> Un cookie est un petit
            fichier placé sur votre appareil. Vous pouvez demander à votre navigateur de
            refuser tous les cookies ou d'indiquer quand un Cookie est envoyé. Toutefois,
            si vous n’acceptez pas les Cookies, il se peut que vous ne puissiez pas
            utiliser certaines parties de notre Service. Sauf si vous avez ajusté Votre
            navigateur paramétré pour qu’il refuse les Cookies, notre Service peut
            utiliser Cookies.
        </li>
        <li><strong>Balises Web.</strong> Certaines sections de notre service et de nos
            courriels peut contenir de petits fichiers électroniques appelés balises Web
            (aussi appelées gifs clairs, balises de pixel, et gifs mono-pixel) qui
            permettent à la société, pour par exemple, pour compter les utilisateurs qui
            ont visité ces pages ou ouvert un courriel et pour d’autres statistiques de
            sites Web connexes (par exemple, l’enregistrement de la popularité d'une
            certaine section et la vérification de l’intégrité du système et du serveur).
        </li>
    </ul>
    <p>Les témoins peuvent être des témoins persistants ou des témoins persistants. Les
        cookies restent sur votre ordinateur personnel ou appareil mobile lorsque vous
        vous déconnectez, alors que les cookies de session sont supprimés dès que vous
        fermez votre navigateur Web. En savoir plus sur les cookies sur le <a
            href="https://www.privacypolicies.com/blog/privacy-policy-template/#Use_Of_Cookies_Log_Files_And_Tracking"
            target="_blank">Politique de confidentialité</a>. </p>
    <p>Nous utilisons les cookies de session et les cookies persistants aux fins indiquées
        ci-dessous :</p>
    <ul>
        <li>
            <p><strong>Cookies nécessaires/essentiels</strong></p>
            <p>Type : Session Cookies</p>
            <p>Administré par : Us</p>
            <p>But : Ces cookies sont essentiels pour vous fournir les services
                disponibles à travers le site Web et de vous permettre d’utiliser
                certaines de ses fonctionnalités. Ils aident à authentifier les
                utilisateurs et prévenir l’utilisation frauduleuse des comptes
                d’utilisateurs. Sans ces Cookies, les services que vous avez demandés ne
                peuvent être et nous n’utilisons ces cookies que pour vous fournir ces
                services. </p>
        </li>
        <li>
            <p><strong>Politique sur les cookies / Cookies d’acceptation d’avis</strong>
            </p>
            <p>Type : Persistent Cookies</p>
            <p>Administré par : Us</p>
            <p>But : Ces témoins indiquent si les utilisateurs ont accepté l’utilisation
                des témoins sur le site Web.</p>
        </li>
        <li>
            <p><strong>Cookies de fonctionnalité</strong></p>
            <p>Type : Persistent Cookies</p>
            <p>Administré par : Us</p>
            <p>But : Ces témoins nous permettent de nous souvenir des choix que vous
                faites lorsque vous utilisez le site Web, comme la mémorisation de vos
                données de connexion ou de votre langue préférence. Le but de ces cookies
                est de vous fournir un plus expérience personnelle et pour éviter que vous
                ayez à revenir à vos préférences chaque fois que vous utilisez le site
                Web.</p>
        </li>
    </ul>
    <p>Pour plus d’informations sur les cookies que nous utilisons et vos choix concernant
        les cookies, veuillez consulter notre Politique sur les cookies ou la section
        Cookies de notre Politique de confidentialité.</p>
    <h2>Utilisation de vos données personnelles</h2>
    <p>La Société peut utiliser des Données à caractère personnel aux fins suivantes :</p>
    <ul>
        <li>
            <p><strong>Fournir et maintenir notre service</strong>, y compris surveiller
                l’utilisation de notre Service.</p>
        </li>
        <li>
            <p><strong>Pour gérer votre compte :</strong> pour gérer votre inscription en
                tant qu'utilisateur du Service. Les Données personnelles que vous
                fournissez peuvent vous donner accès à différentes fonctionnalités du
                Service qui sont à votre disposition en tant qu'utilisateur enregistré.
            </p>
        </li>
        <li>
            <p><strong>Pour l’exécution d’un contrat :</strong> le développement, la
                conformité et l’engagement du contrat d’achat des produits, articles ou
                services que vous avez achetés ou de tout autre contrat avec nous via le
                service.</p>
        </li>
        <li>
            <p><strong>Pour communiquer avec vous :</strong> Pour communiquer avec vous
                par courriel, par téléphone, SMS, ou d’autres formes équivalentes de
                communication électronique, telles que des notifications poussées de
                l’application mobile concernant les mises à jour ou informative
                communications liées aux fonctionnalités, aux produits ou aux contrats
                services, y compris les mises à jour de sécurité, lorsque cela est
                nécessaire ou raisonnable pour leur mise en œuvre. </p>
        </li>
        <li>
            <p><strong>Vous fournir</strong> des nouvelles, des offres spéciales et des
                informations générales informations sur les autres biens, services et
                événements que nous offrons qui sont similaires à ceux que vous avez déjà
                achetés ou demandés à moins que vous ayez choisi de ne pas recevoir ces
                informations. </p>
        </li>
        <li>
            <p><strong>Pour gérer vos demandes :</strong> Pour participer et gérer vos
                demandes à nous.</p>
        </li>
        <li>
            <p><strong>Pour les transferts d’entreprise :</strong> Nous pouvons utiliser
                vos informations pour évaluer ou mener une fusion, un dessaisissement, une
                restructuration, une réorganisation, dissolution, ou autre vente ou
                transfert de tout ou partie de nos actifs, soit dans le cadre d’une
                faillite, d’une liquidation ou procédure similaire, dans laquelle les
                Données à caractère personnel que nous détenons sur notre Service les
                utilisateurs font partie des actifs transférés. </p>
        </li>
        <li>
            <p><strong>À d’autres fins</strong> : Nous pouvons utiliser vos informations
                pour d’autres l’analyse des données, l’identification des tendances
                d’utilisation, la détermination de l'efficacité de nos campagnes
                promotionnelles et d’évaluer et d’améliorer nos services, produits,
                services, marketing et votre expérience. </p>
        </li>
    </ul>
    <p>Nous pouvons partager vos informations personnelles dans les situations
        suivantes :</p>
    <ul>
        <li><strong>Avec les fournisseurs de services :</strong> Nous pouvons partager
            votre expérience personnelle avec les fournisseurs de services pour surveiller
            et analyser l’utilisation de notre Service, pour vous contacter.
        </li>
        <li><strong>Pour les transferts d’entreprise :</strong> Nous pouvons partager ou
            transférer vos renseignements personnels dans le cadre ou pendant les
            négociations fusion, vente d’actifs de la Société, financement ou acquisition
            de tout ou partie de nos affaires à une autre entreprise.
        </li>
        <li><strong>Avec les affiliés :</strong> Nous pouvons partager vos informations
            avec nos affiliés, auquel cas, nous exigerons que ces affiliés honorent cette
            Politique de confidentialité. Les affiliés comprennent Notre société mère et
            toutes autres filiales, partenaires de coentreprise ou autres sociétés que
            nous contrôlons ou qui sont sous contrôle commun avec nous.
        </li>
        <li><strong>Avec les partenaires commerciaux :</strong> Nous pouvons partager vos
            informations avec Nos partenaires commerciaux pour vous offrir certains
            produits, services ou promotions.
        </li>
        <li><strong>Avec d’autres utilisateurs :</strong> lorsque vous partagez des
            informations personnelles ou autrement interagir dans les espaces publics avec
            d’autres utilisateurs, ces informations peuvent être visionnées par tous les
            utilisateurs et peut être distribué publiquement à l’extérieur.
        </li>
        <li><strong>Avec votre consentement</strong> : Nous pouvons divulguer vos
            renseignements personnels à toute autre fin avec votre consentement.
        </li>
    </ul>
    <h2>Conservation de vos données personnelles</h2>
    <p>La Société ne conservera vos Données à caractère personnel que le temps nécessaire
        pour aux fins énoncées dans la présente politique de confidentialité. Nous
        conserverons et utiliserons vos données personnelles dans la mesure nécessaire
        pour respecter nos obligations légales (par exemple, si nous sommes tenus de
        conserver vos données pour se conformer aux lois applicables), résoudre et
        appliquer nos accords et politiques juridiques. </p>
    <p>L’entreprise conservera également les données d’utilisation à des fins d’analyse
        interne, ces données sont généralement conservées pendant une période plus courte,
        sauf lorsque ces données sont utilisées pour renforcer la sécurité ou améliorer la
        fonctionnalité de Notre Service, ou nous sommes légalement tenus de conserver ces
        données durant de plus longues périodes. </p>
    <h2>Transfert de vos données personnelles</h2>
    <p>Vos informations, y compris les données à caractère personnel, sont traitées au
        sein de l’entreprise et dans tout autre lieu où les parties impliquées dans le
        traitement sont situées. Cela signifie que ces renseignements peuvent être
        transférés à — et conservés sur — ordinateurs situés à l’extérieur de votre État,
        province, pays ou autre gouvernement juridiction où les lois de protection des
        données peuvent différer de celles de votre juridiction. </p>
    <p>Votre consentement à la présente politique de confidentialité, suivi de la
        soumission de ces informations représente votre accord sur ce transfert. </p>
    <p>La Société prendra toutes les mesures raisonnablement nécessaires pour s’assurer
        que vos données sont traités en toute sécurité et conformément à la présente
        politique de confidentialité et aucun transfert de Vos Données à caractère
        personnel seront transmises à une organisation ou à un pays, sauf si sont des
        contrôles adéquats en place, y compris la sécurité de vos données et autres
        renseignements personnels. </p>
    <h2>Supprimer vos données personnelles</h2>
    <p>Vous avez le droit de supprimer ou de demander que nous vous aidions à supprimer
        les Données que nous avons recueillies sur vous.</p>
    <p>Notre service peut vous permettre de supprimer certaines informations vous
        concernant dans le cadre de la maintenance.</p>
    <p>Vous pouvez mettre à jour, modifier ou supprimer vos renseignements en tout temps
        en ouvrant une session dans votre Compte, si vous en avez un, et visiter la
        section des paramètres du compte qui permet vous de gérer vos informations
        personnelles. Vous pouvez également nous contacter pour demander l’accès à,
        corriger ou supprimer toute information personnelle que vous nous avez
        fournie.</p>
    <p>Veuillez noter, cependant, que nous pourrions avoir besoin de conserver certaines
        informations lorsque nous avons une obligation légale ou base légale de le
        faire. </p>
    <h2>Divulgation de vos données personnelles</h2>
    <h3>Transactions commerciales</h3>
    <p>Si la Société est impliquée dans une fusion, une acquisition ou une vente d’actifs,
        Votre Personnel Les données peuvent être transférées. Nous vous informerons avant
        transféré et devient soumis à une autre politique de confidentialité.</p>
    <h3>Application de la loi</h3>
    <p>Dans certaines circonstances, l’entreprise peut être tenue de divulguer vos
        renseignements personnels. Données requises par la loi ou en réponse à des
        demandes valides du public autorités (p. ex., un tribunal ou un organisme
        gouvernemental). </p>
    <h3>Autres exigences légales</h3>
    <p>La Société peut divulguer vos Données à caractère personnel en croyant de bonne foi
        que c'est nécessaire pour :</p>
    <ul>
        <li>Respecter une obligation légale</li>
        <li>Protéger et défendre les droits ou les biens de l’entreprise</li>
        <li>Prévenir ou enquêter sur d’éventuels actes répréhensibles liés au service</li>
        <li>Protéger la sécurité personnelle des utilisateurs du service ou du public</li>
        <li>Protection contre la responsabilité légale</li>
    </ul>
    <h2>Sécurité de vos données personnelles</h2>
    <p>La sécurité de vos données personnelles est importante pour nous, mais n’oubliez
        pas qu’aucune méthode de transmission sur Internet, ou le mode de stockage
        électronique est 100% sécurisé. Nous nous efforçons d’utiliser des moyens
        commercialement acceptables pour protéger vos Données, nous ne pouvons pas
        garantir sa sécurité absolue. </p>
    <h1>Vie privée des enfants</h1>
    <p>Notre Service ne s’adresse pas aux personnes de moins de 13 ans. Nous ne recueillir
        des renseignements personnels de toute personne âgée de moins de 13 ans. Si vous
        êtes parent ou tuteur et vous savez que votre enfant nous a fourni avec des
        données personnelles, s’il vous plaît contactez-nous. Si nous apprenons que nous
        avons recueilli Données personnelles de toute personne âgée de moins de 13 ans
        sans vérification parentale consentement, nous prenons des mesures pour supprimer
        ces informations de nos serveurs. </p>
    <p>Si nous devons nous fier au consentement comme base juridique pour le traitement de
        vos renseignements et Votre pays exige le consentement d’un parent, nous pouvons
        exiger le consentement de votre parent avant de recueillir et d’utiliser ces
        informations. </p>
    <h1>Liens vers d’autres sites Web</h1>
    <p>Notre Service peut contenir des liens vers d’autres sites Web qui ne sont pas
        exploités par nous. Si vous cliquez sur un lien tiers, vous serez dirigé vers le
        site de ce tiers. Nous Nous vous conseillons vivement de consulter la politique de
        confidentialité de chaque site que vous visitez. </p>
    <p>Nous n’avons aucun contrôle et n’assumons aucune responsabilité pour le contenu, la
        confidentialité les politiques ou pratiques de tout site ou service tiers. </p>
    <h1>Modifications apportées à cette politique de confidentialité</h1>
    <p>Nous pouvons mettre à jour notre politique de confidentialité de temps à autre.
        Nous vous informerons de tous les changements en publiant la nouvelle politique de
        confidentialité sur cette page. </p>
    <p>Nous vous informerons par courriel ou par un avis bien en vue sur notre service,
        avant le changement est entré en vigueur et met à jour la date de la dernière mise
        à jour de cette politique de confidentialité.</p>
    <p>Nous vous conseillons de consulter périodiquement la présente politique de
        confidentialité pour tout changement. Modifications à cette politique de
        confidentialité sont efficaces lorsqu’ils sont affichés sur cette page. </p>
    <h1>Contactez-nous</h1>
    <p>Si vous avez des questions sur cette politique de confidentialité, vous pouvez nous
        contacter :</p>
    <ul>
        <li>Par courriel : wild@sports.fr</li>
    </ul>
</section>
{% endblock %}
