{% extends ('base.html.twig') %}

{% block title %}
    Modifier le mot de passe
{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('app_profil') }}" class="mt-5 d-flex justify-content-start">Retourner vers votre profil</a>

        <h1 class="mt-4 d-flex justify-content-center">Modifier le mot de passe</h1>

        {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
        {{ form(form) }}
        </div>
    </div>

    <style>
        .ws-btn-password {
            margin-left: 0.7em;
        }
    </style>

{% endblock %}
