//button blue
.ws-blue-btn{
    font-family: Martel, sans-serif;
    font-weight: 1;
    font-size: 14px;
    color: #fff;
    background-color: var(--tertiary-color);
    padding: 10px 10px;
    border-radius: 1px;
    border: none;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}
.ws-blue-btn:hover{
    font-weight: bolder;
    transition : 1000ms;
    padding: 10px 10px;
    transform : translateY(-0px);
    background-color: #fff;
    color:var(--tertiary-color);
}

//button yellow
.ws-yellow-btn{
    font-family: Martel, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    padding: 10px 30px;
    border: solid #ffdb59 2px;
    border-radius: 1px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.ws-yellow-btn:hover{
    transition : 1000ms;
    padding: 10px 30px;
    transform : translateY(-0px);
    background-color: #ffdb59;
    color: #000000;
    border: solid 2px #000000;
}

//button red
.ws-grey-btn{
    font-family: Martel, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 30px;
    border-radius: 1px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: none;
}
.ws-grey-btn:hover{
    transition : 1000ms;
    padding: 10px 10px;
    transform : translateY(-0px);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.ws-black-btn{

    font-family: Martel, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    padding: 10px 10px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 1px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.ws-black-btn:hover{

    transition : 1000ms;
    padding: 10px 10px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #000000;
    border: none;
}
