//button blue
.ws-blue-btn {
    font-family: Martel, sans-serif;
    font-weight: 1;
    font-size: 14px;
    color: #fff;
    background-color: var(--tertiary-color);
    padding: 10px 10px;
    border-radius: 1px;
    border: none;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}

.ws-blue-btn:hover {
    font-weight: bolder;
    transition: 1000ms;
    padding: 10px 10px;
    transform: translateY(-0px);
    background-color: #fff;
    color: var(--tertiary-color);
}

//button yellow
.ws-yellow-btn {
    font-family: Martel, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    padding: 10px 30px;
    border: solid #ffdb59 2px;
    border-radius: 1px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.ws-yellow-btn:hover {
    transition: 1000ms;
    padding: 10px 30px;
    transform: translateY(-0px);
    background-color: #ffdb59;
    color: #000000;
    border: solid 2px #000000;
}

//button grey cookies
.ws-grey-btn {

    font-family: Martel, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 10px 10px;
    border: none;
    border-radius: 1px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.ws-grey-btn:hover {

    transition: 1000ms;
    padding: 10px 10px;
    transform: translateY(-0px);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

//button black navbar
.ws-black-btn {

    font-family: Martel, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    padding: 10px 10px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 1px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.ws-black-btn:hover {

    transition: 1000ms;
    padding: 10px 10px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #000000;
    border: none;
}

.ws-yellow-btn{
    animation: myAnim 3s ease 0s infinite normal forwards;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}
