.ws-contact-title{
    color: $light;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.ws-contact-form{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.ws-contact-fields{
    border-radius: 0;
}

.ws-contact-contenu-fields{
    height: 40vh;
    border-radius: 0;
}

.form-group{
    display: flex;
    justify-content: center;
}

.ws-contact-contenu-fields::placeholder{
    display: flex;
    text-align: start;
    align-items: flex-start;
}

@media screen and (min-width: 768px){
    .ws-contact-title{
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .ws-contact-form{
        display: flex;
        width: 50%;
        margin: auto;
    }

    .ws-contact-name{
        display: flex;
        justify-content: space-between;
    }

    .ws-contact-firstname{
        width: 45%;
    }

    .ws-contact-lastname{
        width: 45%;
    }

    .form-group{
        margin-bottom: 50px;
        margin-top: 50px;
    }
}


