@media screen and (max-width: 576px){
    .ws-navbar-color, .ws-offcanvas-bg  {
        background-color: var(--quinary-color) !important;
    }

    .ws-navbar-toggler {
        border: 0;
        color: transparent;
    }

    .ws-icon-toggler {
        width: 2.5rem;
    }

    .ws-offcanvas-bg {
        max-width: 80% !important;
    }

    .ws-navbar-desktop {
        display: none;
    }
}


