.ws-navbar-dropdown-category {
    line-height: 1.8;
}


@media screen and (max-width: 767px) {
    .ws-navbar-color, .ws-offcanvas-bg {
        background-color: var(--quinary-color) !important;
    }

    .ws-navbar-toggler {
        border: 0;
        color: transparent;
    }

    .ws-icon-toggler {
        width: 2.5rem;
    }

    .ws-offcanvas-bg {
        max-width: 80% !important;
    }

    .ws-navbar-desktop {
        display: none;
    }
    .ws-navbar-link-color-black a, .ws-navbar-link-connexion-color-black a {
        color: var(--quaternary-color) !important;
        margin: 0 0 5px 15px;
        padding: 6px;
    }

    .ws-navbar-link-color-black a:hover, .ws-navbar-link-connexion-color-black a:hover {
        color: var(--tertiary-color) !important;
    }

    .ws-navbar-link-connexion-color-black {
        margin-top: 8px;
        font-size: 14px;
    }

    .ws-navbar-dropdown-category, .ws-navbar-dropdown-category.show {
        background-color: var(--quinary-color) !important;
        border: none;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .ws-logo-site {
        min-width: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    .ws-logo-site {
        min-width: 160px;
    }

    .ws-navbar-link-color-black li, .ws-navbar-desktop button {
        font-size: 12px;

    }


}

@media screen and (min-width: 1200px) {

    .ws-logo-site {
        min-width: 200px;
    }

    .ws-navbar-link-color-black li {
        font-size: 18px;
        letter-spacing: 2px;


    }

    .ws-navbar-desktop button {
        font-size: 18px;
        letter-spacing: 2px;

    }

}
