.ws-profil-title{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.ws-profil-titles{
    margin-top: 1em;
    margin-left: 0.5em;
}

.ws-profil-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ws-profil-form{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.ws-profil-underline{
    text-decoration: underline;
}

.ws-profil-btn{
    display: flex;
    justify-content: center;
    margin-left: 3em;
    margin-bottom: 2em;
}

#ws-profil-mail{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#ws-profil-mail input{
    border-radius: 0;
    margin-bottom: 1em;
}

@media screen and (min-width: 768px){
    .ws-profil-title{
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }

    .ws-profil-titles{
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }

    .ws-profil-information{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #ws-profil-mail{
        display: flex;
        justify-content: center;
    }

    #ws-profil-mail input{
       border-radius: 0;
    }

}
