.imageCategoryCarousel  {
    max-height: 800px;
    object-fit: cover;
}

.videoDescriptionOverflow   {
    text-overflow: ellipsis;
}

.ws-videoTitleColor a   {
    color: white!important
}

.ws-videoTitleColor {
    color: white!important;
}

.card-img-top {
    border-top-left-radius: unset!important;
    border-top-right-radius: unset!important;
}

.card   {
    --bs-card-spacer-y: unset!important;
}

