.imageCategoryCarousel  {
    max-height: 800px;
    object-fit: cover;
}

.videoDescriptionOverflow   {
    text-overflow: ellipsis;
}

.ws-videoTitleColor a   {
    color: white!important
}

.ws-videoTitleColor {
    color: white!important;
}

.zte p{
    text-decoration: none;
}
