.notPremiumVideoBlurred {
    filter: brightness(40%);
}

.selectedVideo  {
    margin-bottom: 50px;
}

.separationBarShowVideo {
    height: 2px;
    width: 90%;
    background-color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 50px;
}

.ws-video-text {
    margin-top: 120px;
}

.textBlockUnderVideo {
    margin-left: 20px;
}

.contentReservedText    {
    margin-bottom: 10px;
}

.contentReservedText a    {
    margin-left: 20px;
}

.videoScrollSingleVideoPage {
    margin-left: -100px;
}

.ws-video-text  {
    margin-left: 20px;
}

@media screen and (min-width 768px) {
    .contentReservedText    {
        margin: 50px 50px 50px 100px!important;
    }

    #notPremiumVideoText    {
        margin-top: 60px;
    }

    .ws-video-text   {
        margin-left: 100px;
        margin-top: 0!important;
    }

    .textBlockUnderVideo    {
        margin-left: 100px;
    }

    .ws-video-share {
        margin-left: 65px;
    }
}
