.ws-subscription-title{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.ws-subscription-contents{
    display: flex;
    flex-direction: column;
}

.ws-subscription-content{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.ws-subscription-form{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.ws-subscription-redirect{
    margin-left: 2em;
    margin-top: 5em;
    width: 80%;
}

@media screen and (min-width: 768px) {

    .ws-subscription-redirect{
        margin-left: 2em;
        margin-top: 3em;
        width: 20%;
    }
}
