.ws-subscription-title{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.ws-subscription-contents{
    display: flex;
    flex-direction: column;
}

.ws-subscription-content{
    margin: 3em;
}
