@import "~bootstrap";
@import "modules/main";
@import "modules/variables";
@import "modules/button";
@import "modules/cookie";
@import "modules/card";
@import "modules/form";
@import "modules/navbar";
@import "modules/footer";
@import "modules/contact";
@import "modules/home";
@import "modules/showSelectedVideoPage";
@import "modules/profil";
@import "modules/subscription";
@import "modules/showVideoByCategory.css";
@import "modules/premium";


:root {
    --primary-color: rgb(255, 255, 255);//text
    --secondary-color: rgb(34, 34,34);//background
    --tertiary-color: rgb(28, 114, 195);//button
    --quaternary-color: rgb(0, 0, 0);//navbar and pub
    --quinary-color: rgb(255, 219, 89);//logo and mobile navbar
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    min-height: 100vh;
    display: grid;//footer
    grid-template-rows: auto 1fr auto;//footer
}

h1, h2, h3 {
    font-family: 'Trirong', serif;;
}

a, p {
    font-family: 'Martel', serif;
    color: var(--primary-color)!important;
}

a:hover {
    color: var(--quinary-color)!important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
