@import "~bootstrap";
@import "modules/main";
@import "modules/variables";
@import "modules/button";
@import "modules/cookie";
@import "modules/card";
@import "modules/form";
@import "modules/navbar";
@import "modules/footer";
@import "modules/contact";
@import "modules/home";
@import "modules/showSelectedVideoPage.css";
@import "modules/profil";
@import "modules/subscription";
@import "modules/showVideoByCategory.css";
@import "modules/premium";
@import "modules/pagination";
@import "modules/register";
@import "modules/carousel";
@import "modules/favorites";
@import "modules/flashMessages.scss";
@import "modules/error403";
@import "modules/error404";


:root {
    --primary-color: rgb(255, 255, 255);//text
    --secondary-color: rgb(34, 34,34);//background
    --tertiary-color: rgb(28, 114, 195);//button
    --quaternary-color: rgb(0, 0, 0);//navbar and pub
    --quinary-color: rgb(255, 219, 89);//logo and mobile navbar
}

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--secondary-color);
    min-height: 100vh;
    display: grid;//footer
    grid-template-rows: auto 1fr auto;//footer
    margin-top: 130px;
}

@media screen and (max-width: 576px) {
    body {
        margin-top: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {

    body {
        margin-top: 50px;
    }
}

h1, h2, h3 {
    font-family: 'Trirong', serif;;
}

a, p {
    font-family: 'Martel', serif;
    color: var(--primary-color)!important;
}

a:hover {
    color: var(--quinary-color)!important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
