{% extends 'base.html.twig' %}
{% block title %} Mon abonnement {% endblock %}

{% block body %}

    {{ 'Status: Abonnement premium actif' }}

{% block content %}
    {# Utilisez la route appropriée pour la suppression et transmettez l'ID de l'utilisateur #}
    {#  <form action="{{ path('user_delete', {'id': user.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>#}

{% endblock %}

{% endblock %}
