<div class="card m-4">
    <div class="card-body">
        <a href="{{ path('app_category', {'id': this.category.id}) }}">{{ this.category.name }}</a>
    </div>
</div>

<style>
    .test{
        background-color: black;
    }
</style>
